{{template "header" .}}
<div class="px-6">
  <h1 class="py-4 text-4xl semibold tracking-tight">
    Welcome to my awesome site!
  </h1>
  <ul>

{{range .ToDos}}
   <li className="block"> {{.Text}}</li>
{{end}}
  </ul>
</div>
{{template "footer" .}}
